<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper">
        <img [src]="images[0].img" alt="Random first slide">
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper">
        <img [src]="images[1].img" alt="Random second slide">
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper">
        <img [src]="images[2].img" alt="Random third slide">
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[3].img" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[4].img" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[5].img" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[6].img" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[7].img" alt="Random first slide">
    </div>
      </a>
    </ng-template>
  </ngb-carousel>
  
  
