p {
    text-align: center;
    font-style: oblique;
    font-weight:600;
    color: black;
}

h3{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    color: black;
}

a{
    text-align:center ;
    
}
