<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper"> 
        <img [src]="images[0].img" style="height: 400px; width: auto;" alt="Random first slide"> 
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper">
        <img [src]="images[1].img" style="height: 400px; width: auto;" alt="Random second slide">
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
        <a>
      <div class="picsum-img-wrapper">
        <img [src]="images[2].img" style="height: 400px; width: auto;" alt="Random third slide">
      </div>
        </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[3].img" style="height: 400px; width: auto;" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[4].img" style="height: 400px; width: auto;" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[5].img" style="height: 400px; width: auto;" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[6].img" style="height: 400px; width: auto;" alt="Random first slide">
    </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
      <a>
    <div class="picsum-img-wrapper">
      <img [src]="images[7].img" style="height: 400px; width: auto;" alt="Random first slide">
    </div>
      </a>
    </ng-template>
  </ngb-carousel>
  
  
