<body>
    <header><h1>Energía renovable </h1></header>
    <div>
      <app-carrusel></app-carrusel>
        <p style="text-align: left; font-size: 20pt;">
            Entendemos como energías renovables a toda aquella energía que es obtenida de una fuente natural y, virtualmente, inagotable. Estas fuentes se consideran inagotables por la gran cantidad de energía que poseen y porque se generan sin esfuerzo por parte de las personas; ejemplo de ello es el sol. Son también denominadas energías alternativas, ya que su llegada coincide con la substitución de fuentes de energía; especialmente los combustibles fósiles.<br><br>
        </p>           
        <p style="text-align: left; font-size: 20pt;">   
            Todo ello se vincula con la crisis energética, el momento en el que la demanda es tan grande que no se puede abastecer; la reserva de fuentes de energía actuales son finitas y pueden también encarecerse sistemáticamente. Es por ello que las renovables son consideradas una alternativa a los combustibles fósiles, ya que pueden generar electricidad explotando fuentes de energía que son totalmente naturales; sin que pueda existir ese límite de recursos ni ese aumento del coste de la energía.<br><br>
        </p>
        <p style="text-align: left; font-size: 20pt;">   
            La situación de nuestro planeta está llegando a niveles críticos, el cambio climático, el efecto invernadero y las altas emisiones de gas que generamos hace que cada vez se vean mucho mas los estragos o consecuencias que le estamos haciendo a nuestro mundo.<br><br>
        </p>
        <p style="text-align: left; font-size: 20pt;">
            Sabemos que el mundo actual existe y funciona por la energía, así que se debe desarrollar e implementar las energías renovables en un futuro no muy lejano, es un campo al que se le debe invertir para investigación t desarrollo de mejorar y así hacerla aun mas viable a la sociedad.
        </p>
    </div>
    <aside>
        <div class="card text-dark bg-warning mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/menusol.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Energía Solar</h5>
                  <p class="card-text">Es una energía renovable, obtenida a partir del aprovechamiento de la radiación electromagnética procedente del Sol.</p>
                  <a [routerLink]="['/solar']" class="btn btn-primary">Energía Solar</a>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/menueolico.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Energía Eólica</h5>
                  <p class="card-text">Es la energía que se obtiene a partir del viento, es decir, es el aprovechamiento de la energía cinética de las masas de aire.</p>
                  <a [routerLink]="['/eolica']" class="btn btn-primary">Energía Eólica</a>
                </div>
              </div>
            </div>
          </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/menuhidro.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Energía Hidraulica</h5>
                  <p class="card-text">Es una energía renovable, obtenida a partir del aprovechamiento de la radiación electromagnética procedente del Sol.</p>
                  <a [routerLink]="['/hidraulica']" class="btn btn-primary">Energía Hidraulica</a>
                </div>
              </div>
            </div>
          </div>
        <div class="card text-white bg-danger mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../assets/menugeo.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Energía Geotermica</h5>
                  <p class="card-text">Es aquella que se obtiene del aprovechamiento de las energías cinéticas y potenciales de la corriente del agua, saltos de agua o mareas.</p>
                  <a [routerLink]="['/geotermica']" class="btn btn-primary">Energía Geotermica</a>
                </div>
              </div>
            </div>
          </div>
    </aside>

</body>

