<body id="agua">
    <!--[if lt IE 7]>
       <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
   <header><h1>Energía Hidraulica</h1></header>
   <ul class="nav">
       <li class="nav-item">
         <a class="nav-link" aria-current="page" [routerLink]="['']"><button type="button" class="btn btn-primary">Inicio</button></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" [routerLink]="['/solar']"><button type="button" class="btn btn-primary">Energía Solar</button></a>
         </li>
       <li class="nav-item">
           <a class="nav-link disabled"><button type="button" class="btn btn-outline-primary">Energía Hidraulica</button></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" [routerLink]="['/eolica']"><button type="button" class="btn btn-primary">Energía Eólica</button></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" aria-current="page" [routerLink]="['geotermica']"><button type="button" class="btn btn-primary">Energía Geotérmica</button></a>
       </li>
   </ul>
   <div class="row">
       <div class="col-md-4">
           <p>La energía hidráulica, también conocida como energía hidroeléctrica, es aquella energía alternativa que se obtiene del aprovechamiento de las energías cinéticas y potenciales de la corriente del agua, saltos de agua o mareas, ya sea mediante molinos o presas, por ejemplo.</p>
           <p>Siempre se ha dicho que es importante que la electricidad y el agua no entren en contacto, pero la una nutre a la otra; la fuerza y el movimiento del agua de ríos o mares se usa para generar electricidad, es decir, energía hidráulica.</p>
           <p>Esta electricidad se obtiene en las centrales hidroeléctricas, las cuales embalsan agua de los ríos en presas y esta es liberada de forma controlada, haciendo que mueva una turbina y generando electricidad. Algunas presas funcionan sobre todo el caudal del río mientras que otras desvían parte de su corriente.</p>
       </div>
       <div class="col-md-5">
           <img  src="../../assets/hidro01.jpg" width="75%" height="75%" alt="">
       </div>
   </div>
   <div class="row">
       <div class="col-md-2">
           <div class="card">
               <img src="../../assets/hidro02.jpg" class="card-img-top" alt="...">
             
               <div class="card-body">
                 <h5 class="card-title">Rotor de palas</h5>
                 <p class="card-text">Rotor instalado transversalmente en canales de riego y a ras de su superficie, que se mueve empujado por la fuerza del agua que transita por el canal consiguiéndose con este movimiento crear energía.</p>
               </div>
             </div>
       </div>
       <div class="col-md-2">
           <div class="card">
               <img src="../../assets/hidro03.jpg" class="card-img-top" alt="...">
             
               <div class="card-body">
                 <h5 class="card-title"> Embalse de Salime </h5>
                 <p class="card-text">Central hidroeléctrica en Grandas de Salime (Asturias, España).</p>
               </div>
             </div>
       </div>
       <div class="col-md-2">
           <div class="card">
               <img src="../../assets/hidro04.jpg" class="card-img-top" alt="...">
             
               <div class="card-body">
                 <h5 class="card-title">Esquema</h5>
                 <p class="card-text">Esquema de una hidroeléctrica moderna.</p>
               </div>
             </div>
       </div>
       <div class="col-md-6">
           <p>La energía hidroelectrica tiene un gran numero de beneficios, dentro de ellos podemos mencionar que La energía hidroeléctrica ayuda a disminuir la emisión de gases de efecto invernadero; así como tambien al tratarse de un recurso procedente del agua de lluvia, el agua utilizada en el proceso puede volver a utilizarse.</p>
           <p>Otras ventajas son que as instalaciones hidroeléctricas tienen una larga vida útil y los embalses resultantes son especialmente útiles a la hora de regular el caudal de un río para evitar, por ejemplo, crecidas peligrosas.</p>
       </div>
   </div>
</body>